.input-group-text div p {
  margin-bottom: 0px !important;
}

.dual-switch {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.content-rows {
  justify-content: center;
  display: flex;
}

.offcanvas-style {
  width: 40vw;
}

.offcanvas-markdown {
  line-height: 200%;
}

.loading-spinner {
  width: 5rem;
  height: 5rem;
}

#open-offcanvas {
  cursor: pointer;
}

.app-ui-division {
  /* margin: 10px; */
  height: 97vh;
  width: 97vw;
  display: block;
  justify-self: center;
  min-width: 800px !important;
  overflow-block: scroll;
}

div:has(div.col-3) {
  height: 92vh;
}

/* div:has(div>div.dcc-graph) {
  height: 92vh;
} */

div:has(div.dcc-graph) {
  height: 92vh;
}

.dcc-graph {
  height: 92vh;
}

.dual-switch-label {
  justify-self: center;
  display: flex;
}

.button-rows {
  margin-bottom: 20px;
}

.shutdown-button-rows {
  margin-top: 100px;
}

.input-group {
  margin-bottom: 1rem;
}

.form-switch .form-check-input {
  cursor: pointer;
}

.input-group input:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  outline: none;
}

/* mjx-container {
  font-size: 120%;
} */

.outline-controllers circle {
  shape-rendering: geometricPrecision !important;
}

div:has(div > div > div.dash-spinner) {
  z-index: 5;
}

div:has(div > div > div > div.dash-spinner) > div.dash-graph {
  opacity: 0.6;
}

#fitted-parameters-table p {
  margin-bottom: 0px;
}

.form-check-label-mod-xps {
  position: relative;
  vertical-align: middle;
  transform: translate(-330%, -8%);
  pointer-events: none;
  content: " Off";
}

.form-check-input:checked + .form-check-label-mod-xps::after {
  content: " Mg";
  margin-inline-end: 2px;
  margin-inline-start: 2px;
  color: #fff;
}

.form-check-input:not(:checked) + .form-check-label-mod-xps::after {
  content: " Al";
}

.label-center-mod {
  text-align: center;
  margin-bottom: 0px;
  margin-right: 20px;
}

.label-center-disp-mod {
  text-align: center;
  display: flex;
  justify-content: center;
}

.form-check-input-mod {
  width: 100px;
}

.dash-table-container
  .dash-spreadsheet-container
  .dash-spreadsheet-inner
  table {
  --text-color: var(--bs-body-color) !important;
  --hover: none !important;
}

.dash-spreadsheet-container {
  scrollbar-color: var(--bs-border-color) transparent;
  scrollbar-width: thin;
}

.table-container-mod {
  padding: 2px !important;
}

.card-body-mod {
  max-height: 302px;
}

.dt-table-container__row {
  scrollbar-color: var(--bs-border-color) transparent;
  scrollbar-width: thin;
}

.dash-fixed-row {
  margin-right: 10px !important;
  margin-left: 0px !important;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th {
  border-left: none !important;
}

.col-3 {
  min-width: 445.656px !important;
}

.card-disable {
  pointer-events: none; /* Disables mouse interactions */
  opacity: 0.4;
}

#save-on-complete-filename:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  outline: none;
}

.display-input {
  pointer-events: none !important;
}
